@model List<WebsiteProject.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@section Cart{
    <div class="col-sm-12 padding-right">
        <div class="product-details">
            <div class="containerr">
                <div class="cartt">
                    @foreach (var item in Model)
                    {
                        <div class="cartt-item">
                            <a href="~/home/details?id=@item.ProductId" target="_blank">
                                <div class="cart-product-img">

                                    <img class="cart-img"
                                         src=" data:image;base64,@item.Image" alt="">


                                    <div class="cart-product-label">
                                        <div class="badge-warning">Trả góp 0%</div>
                                        <div class="badge-primary">Giảm 2.000.000đ</div>
                                    </div>
                                </div>
                                <div class="item-name ml-4">@item.ProductName</div>
                                <div class="price">
                                    <div class="price-sale">@string.Format("{0:0,#}", item.Price) VNĐ</div>
                                    <div class="price-strike">
                                        <strike></strike>
                                    </div>
                                </div>
                                <div class="cart-product">
                                    <div class="rating p-t-4">
                                        <div icon="star" class="icon is-active">
                                            <svg height="15"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                <path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div icon="star" class="icon is-active">
                                            <svg height="15"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                <path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div icon="star" class="icon is-active">
                                            <svg height="15"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                <path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div icon="star" class="icon is-active">
                                            <svg height="15"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                <path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div icon="star" class="icon is-active">
                                            <svg height="15"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                <path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="icon">
                                        <span><i class="bi bi-cpu"></i>@item.Chip</span>
                                        <span><i class="bi bi-phone"></i>@item.Display</span>
                                        <span><i class="bi bi-postage-fill"></i>@item.Ram</span>
                                        <div class="tittle">Mua kèm Apple Pencil tặng 500k </div>
                                    </div>
                                </div>
                                <div class="cart-btn">
                                    <div class="btn-buynow">
                                        <a href="@Url.Action("AddToCart", "Cart", new { productId = item.ProductId })">Mua ngay</a>
                                    </div>
                                    <div class="btn-compare">
                                        <a href="">So sánh</a>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }
                    @{
                        int PrevPageNo = ViewBag.PageNo - 1;
                        if (PrevPageNo <= 0)
                        {
                            PrevPageNo = 1;
                        }
                        int nextPageNo = ViewBag.PageNo + 1;
                        if (nextPageNo > ViewBag.NoOfPage)
                        {
                            nextPageNo = ViewBag.NoOfPage;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row"
    <div class="col-sm-12">
        <ul class="pagination justify-content-center">
            <li class="paginate_button page-item" id="example2_previous">
                <a href="~/Home/index?PageNo=@PrevPageNo" aria-controls="example2" data-dt-idx="0" tabindex="7" class="page-link">Prev</a>
             </li>
              @for (int i = 1; i <= ViewBag.NoOfPage; i++)
                {
                    if (i == ViewBag.PageNo)
                    {
                        <li class="page-item active">
                            <a href="~/Home/index?PageNo=@(i)" class="page-link">@(i)</a>
                        </li>
                     }
                    else
                    {
                        <li class="page-item ">
                            <a href="~/Home/index?PageNo=@(i)" class="page-link">@(i)</a>
                        </li>
                    }
               }
               <li class="paginate_button page-item next" id="example2_next">
                        <a href="~/Home/index?PageNo=@nextPageNo" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
               </li>
       </ul>
    </div>

</div>

}
@section Cate_box{

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="cate-box mt-4 mb-4 ">
                    <div class="row-flex">
                        <div class="col6-no col-mb3">
                            <a href="./samsung.html" class="cate-a">
                                <div class="cate-item">
                                    <picture class="picture">
                                        <img src="~/Assets/images/fpt/icon-samsung.jpg" alt="">
                                    </picture>
                                    <div class="cate-item-name">Sam Sung </div>
                                </div>
                            </a>
                        </div>

                        <div class="col6-no col-mb3 ">
                            <a href="#" class="cate-a">
                                <div class="cate-item">
                                    <picture class="picture">
                                        <img src="~/Assets/images/fpt/icon-laptop.jpg" alt="">
                                    </picture>
                                    <div class="cate-item-name">Laptop </div>
                                </div>
                            </a>
                        </div>
                        <div class="col6-no col-mb3">
                            <a href="#" class="cate-a">
                                <div class="cate-item">
                                    <picture class="picture">
                                        <img src="~/Assets/images/fpt/icon-pc.jpg" alt="">
                                    </picture>
                                    <div class="cate-item-name">PC - Lắp ráp </div>
                                </div>
                            </a>
                        </div>
                        <div class="col6-no col-mb3">
                            <a href="#" class="cate-a">
                                <div class="cate-item">
                                    <picture class="picture">
                                        <img src="~/Assets/images/fpt/icon-mtb.jpg" alt="">
                                    </picture>
                                    <div class="cate-item-name">Máy Tính Bảng </div>
                                </div>
                            </a>
                        </div>
                        <div class="col6-no col-mb3">
                            <a href="#" class="cate-a">
                                <div class="cate-item">
                                    <picture class="picture">
                                        <img src="~/Assets/images/fpt/icon-smart.jpg" alt="">
                                    </picture>
                                    <div class="cate-item-name">Thiết bị thông minh </div>
                                </div>
                            </a>
                        </div>
                        <div class="col6-no col-mb3">
                            <a href="#" class="cate-a">
                                <div class="cate-item">
                                    <picture class="picture">
                                        <img src="~/Assets/images/fpt/icon-houseware.jpg" alt="">
                                    </picture>
                                    <div class="cate-item-name">Gia dụng </div>
                                </div>
                            </a>
                        </div>
                        <div class="col6-no col-mb3">
                            <a href="#" class="cate-a">
                                <div class="cate-item">
                                    <picture class="picture">
                                        <img src="~/Assets/images/fpt/img-apple-desk.jpg" alt="">
                                    </picture>
                                    <div class="cate-item-name">Apple </div>
                                </div>
                            </a>
                        </div>
                        <div class="col6-no col-mb3 ">
                            <a href="#" class="cate-a">
                                <div class="cate-item">
                                    <picture class="picture">
                                        <img src="~/Assets/images/fpt/ip14.jpg" alt="">
                                    </picture>
                                    <div class="cate-item-name"> Điện thoại </div>
                                </div>
                            </a>
                        </div>
                        <div class="col6-no col-mb3">
                            <a href="#" class="cate-a">
                                <div class="cate-item">
                                    <picture class="picture">
                                        <img src="~/Assets/images/fpt/icon-smartwatch.jpg" alt="">
                                    </picture>
                                    <div class="cate-item-name">Đồng hồ thông minh </div>
                                </div>
                            </a>
                        </div>
                        <div class="col6-no col-mb3">
                            <a href="#" class="cate-a">
                                <div class="cate-item">
                                    <picture class="picture">
                                        <img src="~/Assets/images/fpt/icon-accessories.jpg" alt="">
                                    </picture>
                                    <div class="cate-item-name">Phụ kiện </div>
                                </div>
                            </a>
                        </div>
                        <div class="col6-no col-mb3">
                            <a href="#" class="cate-a">
                                <div class="cate-item">
                                    <picture class="picture">
                                        <img src="~/Assets/images/fpt/icon-screen.jpg" alt="">
                                    </picture>
                                    <div class="cate-item-name">Màn hình</div>
                                </div>
                            </a>
                        </div>
                        <div class="col6-no col-mb3">
                            <a href="#" class="cate-a">
                                <div class="cate-item">
                                    <picture class="picture">
                                        <img src="~/Assets/images/fpt/icon-tcdm.jpg" alt="">
                                    </picture>
                                    <div class="cate-item-name">Máy cũ</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
@section service{

    <section>
        <div class="container">
            <div class="service">
                <h3 class="tittle">dịch vụ tiện ích</h3>
                <ul class="service-list">
                    <a class="service-item">
                        <div class="item-img">
                            <img src="~/Assets/images/fpt/water.png" alt="">
                        </div>
                        <div class="wrap">
                            <div class="item-title">Thanh toán tiền nước</div>
                            <div class="item-text">Thanh toán nhanh chóng, tiện lợi</div>
                        </div>
                    </a>
                    <a class="service-item">
                        <div class="item-img">
                            <img src="~/Assets/images/fpt/service-item2.png" alt="">
                        </div>
                        <div class="wrap">
                            <div class="item-title">Thanh toán tiền điện</div>
                            <div class="item-text">Thanh toán nhanh chóng, tiện lợi</div>
                        </div>

                    </a>
                    <a class="service-item">
                        <div class="item-img">
                            <img src="~/Assets/images/fpt/service-item3.png" alt="">
                        </div>
                        <div class="wrap">
                            <div class="item-title">Thẻ cào điện thoại</div>
                            <div class="item-text">Giảm 2% cho thẻ mệnh giá từ 100.000đ</div>
                        </div>

                    </a>
                    <a class="service-item">
                        <div class="item-img">
                            <img src="~/Assets/images/fpt/service-item4.png" alt="">
                        </div>
                        <div class="wrap">
                            <div class="item-title">Thẻ game</div>
                            <div class="item-text">Giảm 2% cho thẻ mệnh giá từ 100.000đ</div>
                        </div>

                    </a>
                </ul>

            </div>
        </div>
    </section>
}



